body {
  font-family: "Montserrat";
  font-weight: 500;
}
h1 {
  margin-bottom: 1rem;
  text-align: center;
}
.mh-100 {
  width: 90%;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  color: #fff5f9;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
img {
  height: 12rem;
  margin-left: 1rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.main-info {
  font-size: 1.4rem;
  text-align: left;
}

p {
  margin-bottom: 1.2rem;
  word-spacing: 0.3rem;
  line-height: 1.5;
}
@media screen and (max-width: 600px) {
  .mh-100 {
    width: 100%;
    margin: 0;
    border-radius: 0;
    font-size: 80%;
  }
  .main-info {
    font-size: 1rem !important;
  }
  .resp {
    display: block;
  }
  .resp img {
    margin: 1rem auto;
    height: auto !important;
    width: 100%;
    border-radius: 3px;
  }
}
