body,
button {
  font-family: "Montserrat";
}
#quizWrap {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
img {
  width: 30rem;
  height: 100%;
}
#quizQn {
  font-size: 2rem;
}
#quizAns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  padding: 3rem;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#quizAns input[type="radio"] {
  display: none;
}
#quizAns label:not(:last-child) {
  margin-bottom: 1.5rem;
}
#quizAns label {
  background: #e2e2e2;
  border: 0.5rem solid #c0c0c0;
  border-radius: 1rem;
  padding: 1.2rem;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
}
#quizAns label:hover {
  border: 0.5rem solid #039be5;
  transition: 0.3s;
}
#quizAns label.correct {
  background: #46b446;
  border: 0.5rem solid #46b446;
}
#quizAns label.wrong {
  background: #ff6f6f;
  border: 0.5rem solid #ff6f6f;
}
.btns {
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #cdcdcd;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 1.5rem;
  text-shadow: 1px 1px #000;
}
.btns:hover {
  box-shadow: #000000 0px 5px 15px;
  transition: 0.3s;
}
.btns:not(:last-child) {
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  #quizWrap {
    flex-direction: column;
    width: 75%;
  }
  img {
    width: 100%;
  }
  #quizAns {
    height: 100%;
    width: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.6)
    );
    padding: 1.5rem;
  }
  #quizAns label {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
  }
  #quizAns label.correct,
  #quizAns label.wrong {
    border: none;
  }
  #quizAns label:not(:last-child) {
    margin-bottom: 1rem;
  }
}
